*.conf
*.so
*.csh
Makefile
READ.ME
besselwrap.f90
besselwrap.o
f90split
gcccpuopt.sh
libslatec.so.1.0.1
test2_of_d1mach.f90
test2_of_r1mach.f90
test_of_d1mach.f90
test_of_i1mach.f90
test_of_r1mach.f90